/**
 * Copyright 2023 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

locals {
  org_id          = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.org_id
  parent          = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.parent_id
  billing_account = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.billing_account
  project_prefix  = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.project_prefix
  folder_prefix   = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.folder_prefix
  tags            = data.tfe_outputs.org.nonsensitive_values.tags
}


data "tfe_outputs" "bootstrap" {
  organization = var.tfc_org_name
  workspace    = "0-shared"
}

data "tfe_outputs" "org" {
  organization = var.tfc_org_name
  workspace    = "1-shared"
}
