/**
 * Copyright 2023 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

// These values are retrieved from the saved terraform state of the execution
// of step 0-bootstrap using the tfe_outputs data source.
// These values can be overridden here if needed.
// Some values, like org_id, parent_folder, and parent, must be consistent in all steps.
locals {
  org_id                                        = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.org_id
  parent_folder                                 = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.parent_folder
  parent                                        = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.parent_id
  billing_account                               = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.billing_account
  default_region                                = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.default_region
  project_prefix                                = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.project_prefix
  folder_prefix                                 = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.folder_prefix
  group_billing_admins                          = data.tfe_outputs.bootstrap.nonsensitive_values.group_billing_admins
  group_org_admins                              = data.tfe_outputs.bootstrap.nonsensitive_values.group_org_admins
  networks_step_terraform_service_account_email = data.tfe_outputs.bootstrap.nonsensitive_values.networks_step_terraform_service_account_email
  bootstrap_folder_name                         = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.bootstrap_folder_name
  cloud_build_private_worker_pool_id            = try(data.tfe_outputs.bootstrap.nonsensitive_values.cloud_build_private_worker_pool_id, "")
  org_step_terraform_service_account_email      = data.tfe_outputs.bootstrap.nonsensitive_values.organization_step_terraform_service_account_email
}

data "tfe_outputs" "bootstrap" {
  organization = var.tfc_org_name
  workspace    = "0-shared"
}
