/**
 * Copyright 2023 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* ----------------------------------------
    Specific to gitlab_bootstrap
   ---------------------------------------- */

variable "gl_repos" {
  description = <<EOT
  Configuration for the GitLab Repositories to be used to deploy the Terraform Example Foundation stages.
  owner: The owner of the repositories. An user or a group.
  bootstrap: The repository to host the code of the bootstrap stage.
  organization: The repository to host the code of the organization stage.
  environments: The repository to host the code of the environments stage.
  networks: The repository to host the code of the networks stage.
  projects: The repository to host the code of the projects stage.
  cicd_runner: The repository to host the code of docker image used for CI/CD.
  EOT
  type = object({
    owner        = string,
    bootstrap    = string,
    organization = string,
    environments = string,
    networks     = string,
    projects     = string,
    cicd_runner  = string,
  })
}

variable "gitlab_token" {
  description = <<EOT
  A GitLab personal access token or group access token.
  See:
      https://docs.gitlab.com/ee/user/group/settings/group_access_tokens.html
      https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html
  EOT
  type        = string
  sensitive   = true
}
