/**
 * Copyright 2022 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

module "dns_hub_interconnect" {
  source = "../../modules/dedicated_interconnect"

  vpc_name                = "c-dns-hub"
  interconnect_project_id = local.dns_hub_project_id

  region1                                 = local.default_region1
  region1_router1_name                    = module.dns_hub_region1_router1.router.name
  region1_interconnect1_candidate_subnets = ["169.254.0.0/29"]
  region1_interconnect1_vlan_tag8021q     = "3931"
  region1_interconnect1                   = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-1"
  region1_interconnect1_location          = "las-zone1-770"
  region1_interconnect1_onprem_dc         = "onprem-dc1"
  region1_router2_name                    = module.dns_hub_region1_router2.router.name
  region1_interconnect2_candidate_subnets = ["169.254.0.8/29"]
  region1_interconnect2_vlan_tag8021q     = "3932"
  region1_interconnect2                   = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-2"
  region1_interconnect2_location          = "las-zone1-770"
  region1_interconnect2_onprem_dc         = "onprem-dc2"

  region2                                 = local.default_region2
  region2_router1_name                    = module.dns_hub_region2_router1.router.name
  region2_interconnect1_candidate_subnets = ["169.254.0.16/29"]
  region2_interconnect1_vlan_tag8021q     = "3933"
  region2_interconnect1                   = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-3"
  region2_interconnect1_location          = "lax-zone2-19"
  region2_interconnect1_onprem_dc         = "onprem-dc3"
  region2_router2_name                    = module.dns_hub_region2_router2.router.name
  region2_interconnect2_candidate_subnets = ["169.254.0.24/29"]
  region2_interconnect2_vlan_tag8021q     = "3934"
  region2_interconnect2                   = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-4"
  region2_interconnect2_location          = "lax-zone1-403"
  region2_interconnect2_onprem_dc         = "onprem-dc4"

  peer_asn  = "64515"
  peer_name = "interconnect-peer"

  cloud_router_labels = {
    vlan_1 = "cr1",
    vlan_2 = "cr2",
    vlan_3 = "cr3",
    vlan_4 = "cr4"
  }
}

module "shared_restricted_interconnect" {
  source = "../../modules/dedicated_interconnect"

  vpc_name                = "c-shared-restricted"
  interconnect_project_id = local.restricted_net_hub_project_id

  region1                                 = local.default_region1
  region1_router1_name                    = module.restricted_shared_vpc.region1_router1.router.name
  region1_interconnect1_candidate_subnets = ["169.254.0.32/29"]
  region1_interconnect1_vlan_tag8021q     = "3921"
  region1_interconnect1                   = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-1"
  region1_interconnect1_location          = "las-zone1-770"
  region1_interconnect1_onprem_dc         = "onprem-dc-1"
  region1_router2_name                    = module.restricted_shared_vpc.region1_router2.router.name
  region1_interconnect2_candidate_subnets = ["169.254.0.40/29"]
  region1_interconnect2_vlan_tag8021q     = "3922"
  region1_interconnect2                   = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-2"
  region1_interconnect2_location          = "las-zone1-770"
  region1_interconnect2_onprem_dc         = "onprem-dc-2"

  region2                                 = local.default_region2
  region2_router1_name                    = module.restricted_shared_vpc.region2_router1.router.name
  region2_interconnect1_candidate_subnets = ["169.254.0.48/29"]
  region2_interconnect1_vlan_tag8021q     = "3923"
  region2_interconnect1                   = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-3"
  region2_interconnect1_location          = "lax-zone2-19"
  region2_interconnect1_onprem_dc         = "onprem-dc-3"
  region2_router2_name                    = module.restricted_shared_vpc.region2_router2.router.name
  region2_interconnect2_candidate_subnets = ["169.254.0.56/29"]
  region2_interconnect2_vlan_tag8021q     = "3924"
  region2_interconnect2                   = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-4"
  region2_interconnect2_location          = "lax-zone1-403"
  region2_interconnect2_onprem_dc         = "onprem-dc-4"

  peer_asn  = "64515"
  peer_name = "interconnect-peer"

  cloud_router_labels = {
    vlan_1 = "cr5",
    vlan_2 = "cr6",
    vlan_3 = "cr7",
    vlan_4 = "cr8"
  }

  depends_on = [
    module.restricted_shared_vpc
  ]
}

module "shared_base_interconnect" {
  source = "../../modules/dedicated_interconnect"

  vpc_name                = "c-shared-base"
  interconnect_project_id = local.base_net_hub_project_id

  region1                                 = local.default_region1
  region1_router1_name                    = module.base_shared_vpc.region1_router1.router.name
  region1_interconnect1_candidate_subnets = ["169.254.0.64/29"]
  region1_interconnect1_vlan_tag8021q     = "3925"
  region1_interconnect1                   = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-1"
  region1_interconnect1_location          = "las-zone1-770"
  region1_interconnect1_onprem_dc         = "onprem-dc-1"
  region1_router2_name                    = module.base_shared_vpc.region1_router2.router.name
  region1_interconnect2_candidate_subnets = ["169.254.0.72/29"]
  region1_interconnect2_vlan_tag8021q     = "3926"
  region1_interconnect2                   = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-2"
  region1_interconnect2_location          = "las-zone1-770"
  region1_interconnect2_onprem_dc         = "onprem-dc-2"

  region2                                 = local.default_region2
  region2_router1_name                    = module.base_shared_vpc.region2_router1.router.name
  region2_interconnect1_candidate_subnets = ["169.254.0.80/29"]
  region2_interconnect1_vlan_tag8021q     = "3927"
  region2_interconnect1                   = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-3"
  region2_interconnect1_location          = "lax-zone2-19"
  region2_interconnect1_onprem_dc         = "onprem-dc-3"
  region2_router2_name                    = module.base_shared_vpc.region2_router2.router.name
  region2_interconnect2_candidate_subnets = ["169.254.0.88/29"]
  region2_interconnect2_vlan_tag8021q     = "3928"
  region2_interconnect2                   = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-4"
  region2_interconnect2_location          = "lax-zone1-403"
  region2_interconnect2_onprem_dc         = "onprem-dc-4"


  peer_asn  = "64515"
  peer_name = "interconnect-peer"

  cloud_router_labels = {
    vlan_1 = "cr1",
    vlan_2 = "cr2",
    vlan_3 = "cr3",
    vlan_4 = "cr4"
  }

  depends_on = [
    module.base_shared_vpc
  ]
}
