/**
 * Copyright 2021 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

module "dns_hub_interconnect" {
  source = "../../modules/partner_interconnect"

  vpc_name              = "net-dns"
  attachment_project_id = local.dns_hub_project_id
  preactivate           = var.preactivate_partner_interconnect

  region1                         = local.default_region1
  region1_router1_name            = module.dns_hub_region1_router1.router.name
  region1_interconnect1_location  = "las-zone1-770"
  region1_interconnect1_onprem_dc = "onprem-dc1"
  region1_router2_name            = module.dns_hub_region1_router2.router.name
  region1_interconnect2_location  = "las-zone1-770"
  region1_interconnect2_onprem_dc = "onprem-dc2"

  region2                         = local.default_region2
  region2_router1_name            = module.dns_hub_region2_router1.router.name
  region2_interconnect1_location  = "lax-zone2-19"
  region2_interconnect1_onprem_dc = "onprem-dc3"
  region2_router2_name            = module.dns_hub_region2_router2.router.name
  region2_interconnect2_location  = "lax-zone1-403"
  region2_interconnect2_onprem_dc = "onprem-dc4"

  cloud_router_labels = {
    vlan_1 = "cr1",
    vlan_2 = "cr2",
    vlan_3 = "cr3",
    vlan_4 = "cr4"
  }
}
