/**
 * Copyright 2023 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

locals {
  env                        = "common"
  environment_code           = "c"
  dns_bgp_asn_number         = var.enable_partner_interconnect ? "16550" : var.bgp_asn_dns
  default_region1            = data.tfe_outputs.bootstrap.outputs.common_config.default_region
  default_region2            = data.tfe_outputs.bootstrap.outputs.common_config.default_region_2
  folder_prefix              = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.folder_prefix
  dns_hub_project_id         = data.tfe_outputs.org.nonsensitive_values.dns_hub_project_id
  interconnect_project_id    = data.tfe_outputs.org.nonsensitive_values.interconnect_project_id
  parent_id                  = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.parent_id
  bootstrap_folder_name      = data.tfe_outputs.bootstrap.nonsensitive_values.common_config.bootstrap_folder_name
  common_folder_name         = data.tfe_outputs.org.nonsensitive_values.common_folder_name
  network_folder_name        = data.tfe_outputs.org.nonsensitive_values.network_folder_name
  development_folder_name    = data.tfe_outputs.env_development.nonsensitive_values.env_folder
  nonproduction_folder_name = data.tfe_outputs.env_nonproduction.nonsensitive_values.env_folder
  production_folder_name     = data.tfe_outputs.env_production.nonsensitive_values.env_folder
}

data "tfe_outputs" "bootstrap" {
  organization = var.tfc_org_name
  workspace    = "0-shared"
}

data "tfe_outputs" "org" {
  organization = var.tfc_org_name
  workspace    = "1-shared"
}

data "tfe_outputs" "env_development" {
  organization = var.tfc_org_name
  workspace    = "2-development"
}

data "tfe_outputs" "env_nonproduction" {
  organization = var.tfc_org_name
  workspace    = "2-nonproduction"
}

data "tfe_outputs" "env_production" {
  organization = var.tfc_org_name
  workspace    = "2-production"
}

