/**
 * Copyright 2021 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

module "shared_restricted_interconnect" {
  source = "../../modules/dedicated_interconnect"

  org_id        = var.org_id
  parent_folder = var.parent_folder
  vpc_name      = "${local.environment_code}-shared-restricted"

  region1                                 = var.default_region1
  region1_router1_name                    = module.restricted_shared_vpc.region1_router1.router.name
  region1_interconnect1_candidate_subnets = ["169.254.0.160/29"]
  region1_interconnect1_vlan_tag8021q     = "3901"
  region1_interconnect1                   = "https://www.googleapis.com/compute/v1/projects/example-interconnect-project/global/interconnects/example-interconnect-1"
  region1_interconnect1_location          = "las-zone1-770"
  region1_router2_name                    = module.restricted_shared_vpc.region1_router2.router.name
  region1_interconnect2_candidate_subnets = ["169.254.0.168/29"]
  region1_interconnect2_vlan_tag8021q     = "3902"
  region1_interconnect2                   = "https://www.googleapis.com/compute/v1/projects/example-interconnect-project/global/interconnects/example-interconnect-2"
  region1_interconnect2_location          = "las-zone1-770"

  region2                                 = var.default_region2
  region2_router1_name                    = module.restricted_shared_vpc.region2_router1.router.name
  region2_interconnect1_candidate_subnets = ["169.254.0.176/29"]
  region2_interconnect1_vlan_tag8021q     = "3903"
  region2_interconnect1                   = "https://www.googleapis.com/compute/v1/projects/example-interconnect-project/global/interconnects/example-interconnect-3"
  region2_interconnect1_location          = "lax-zone2-19"
  region2_router2_name                    = module.restricted_shared_vpc.region2_router2.router.name
  region2_interconnect2_candidate_subnets = ["169.254.0.184/29"]
  region2_interconnect2_vlan_tag8021q     = "3904"
  region2_interconnect2                   = "https://www.googleapis.com/compute/v1/projects/example-interconnect-project/global/interconnects/example-interconnect-4"
  region2_interconnect2_location          = "lax-zone1-403"
  folder_prefix                           = var.folder_prefix

  peer_asn  = "64515"
  peer_name = "interconnect-peer"

  cloud_router_labels = {
    vlan_1 = "cr5",
    vlan_2 = "cr6",
    vlan_3 = "cr7",
    vlan_4 = "cr8"
  }
}

module "shared_base_interconnect" {
  source = "../../modules/dedicated_interconnect"

  org_id        = var.org_id
  parent_folder = var.parent_folder
  vpc_name      = "${local.environment_code}-shared-base"

  region1                                 = var.default_region1
  region1_router1_name                    = module.base_shared_vpc.region1_router1.router.name
  region1_interconnect1_candidate_subnets = ["169.254.0.192/29"]
  region1_interconnect1_vlan_tag8021q     = "3905"
  region1_interconnect1                   = "https://www.googleapis.com/compute/v1/projects/example-interconnect-project/global/interconnects/example-interconnect-1"
  region1_interconnect1_location          = "las-zone1-770"
  region1_router2_name                    = module.base_shared_vpc.region1_router2.router.name
  region1_interconnect2_candidate_subnets = ["169.254.0.200/29"]
  region1_interconnect2_vlan_tag8021q     = "3906"
  region1_interconnect2                   = "https://www.googleapis.com/compute/v1/projects/example-interconnect-project/global/interconnects/example-interconnect-2"
  region1_interconnect2_location          = "las-zone1-770"

  region2                                 = var.default_region2
  region2_router1_name                    = module.base_shared_vpc.region2_router1.router.name
  region2_interconnect1_candidate_subnets = ["169.254.0.208/29"]
  region2_interconnect1_vlan_tag8021q     = "3907"
  region2_interconnect1                   = "https://www.googleapis.com/compute/v1/projects/example-interconnect-project/global/interconnects/example-interconnect-3"
  region2_interconnect1_location          = "lax-zone2-19"
  region2_router2_name                    = module.base_shared_vpc.region2_router2.router.name
  region2_interconnect2_candidate_subnets = ["169.254.0.216/29"]
  region2_interconnect2_vlan_tag8021q     = "3908"
  region2_interconnect2                   = "https://www.googleapis.com/compute/v1/projects/example-interconnect-project/global/interconnects/example-interconnect-4"
  region2_interconnect2_location          = "lax-zone1-403"

  folder_prefix                           = var.folder_prefix

  peer_asn  = "64515"
  peer_name = "interconnect-peer"

  cloud_router_labels = {
    vlan_1 = "cr1",
    vlan_2 = "cr2",
    vlan_3 = "cr3",
    vlan_4 = "cr4"
  }
}
