resource "google_kms_crypto_key" "backup_tf_key" {
  destroy_scheduled_duration = "86400s"
  #   id                            = "projects/mp9-b-cicd-9aee/locations/us-central1/keyRings/tf-keyring/cryptoKeys/tf-key"
  import_only                   = false
  key_ring                      = "projects/mp9-b-cicd-9aee/locations/us-central1/keyRings/tf-keyring"
  labels                        = {}
  name                          = "tf-key"
  purpose                       = "ENCRYPT_DECRYPT"
  skip_initial_version_creation = false

  version_template {
    algorithm        = "GOOGLE_SYMMETRIC_ENCRYPTION"
    protection_level = "SOFTWARE"
  }
}

resource "google_kms_key_ring" "backup_tf_keyring" {
  #   id       = "projects/mp9-b-cicd-9aee/locations/us-central1/keyRings/tf-keyring"
  location = "us-central1"
  name     = "tf-keyring"
  project  = "mp9-b-cicd-9aee"
}
