# cloudbuild bootstrap
moved {
  from = module.cloudbuild_bootstrap.module.cloudbuild_project
  to   = module.tf_source.module.cloudbuild_project
}

# artifact registry repo
moved {
  from = module.cloudbuild_bootstrap.google_artifact_registry_repository.tf-image-repo
  to   = module.tf_cloud_builder.google_artifact_registry_repository.tf-image-repo
}

# KMS (only if needed)
moved {
  from = module.cloudbuild_bootstrap.google_kms_crypto_key.tf_key
  to   = google_kms_crypto_key.backup_tf_key
}

moved {
  from = module.cloudbuild_bootstrap.google_kms_key_ring.tf_keyring
  to   = google_kms_key_ring.backup_tf_keyring
}
