/**
 * Copyright 2021 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


module "shared_vpc_cross_partner_interconnect" {
  source = "../cross_partner_interconnect"

  attachment_project_id = local.shared_vpc_project_id
  vpc_name              = "${var.environment_code}-svpc"
  ncc_hub_uri           = module.shared_vpc.ncc_hub_uri
  ncc_hub_group         = "default"

  region1 = var.default_region1
  region2 = var.default_region2

  partner_cross_cloud_config = {
    remote_cloud_provider = "oci"
    attachments = {
      "region1_cross1" = {
        region                   = var.default_region1
        router                   = module.routers.region1_router1.router.name
        location                 = "las-zone1-770"
        cross_dc                 = "cross-dc1"
        preactivate              = true
        edge_availability_domain = "AVAILABILITY_DOMAIN_1"
        cr_suffix                = "cr5"
      },
      "region1_cross2" = {
        region                   = var.default_region1
        preactivate              = true
        router                   = module.routers.region1_router2.router.name
        location                 = "las-zone1-770"
        cross_dc                 = "cross-dc2"
        edge_availability_domain = "AVAILABILITY_DOMAIN_2"
        cr_suffix                = "cr6"
      },
      "region2_cross1" = {
        region                   = var.default_region2
        preactivate              = true
        router                   = module.routers.region2_router1.router.name
        location                 = "lax-zone2-19"
        cross_dc                 = "cross-dc3"
        edge_availability_domain = "AVAILABILITY_DOMAIN_1"
        cr_suffix                = "cr7"
      },
      "region2_cross2" = {
        region                   = var.default_region2
        preactivate              = true
        router                   = module.routers.region2_router2.router.name
        location                 = "lax-zone1-403"
        cross_dc                 = "cross-dc4"
        edge_availability_domain = "AVAILABILITY_DOMAIN_2"
        cr_suffix                = "cr8"
      },
    }
  }

  depends_on = [
    module.shared_vpc,
    module.routers
  ]
}
