/**
 * Copyright 2021 Google LLC
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

locals {
  interconnect_project_id = data.terraform_remote_state.org.outputs.interconnect_project_id

  restricted_config = {
    "development" = {
      region1_interconnect1_candidate_subnets = ["169.254.0.160/29"]
      region1_interconnect1_vlan_tag8021q     = "3901"
      region1_interconnect1_md5_key           = "REPLACE_ME"
      region1_interconnect2_candidate_subnets = ["169.254.0.168/29"]
      region1_interconnect2_vlan_tag8021q     = "3902"
      region1_interconnect2_md5_key           = "REPLACE_ME"
      region2_interconnect1_candidate_subnets = ["169.254.0.176/29"]
      region2_interconnect1_vlan_tag8021q     = "3903"
      region2_interconnect1_md5_key           = "REPLACE_ME"
      region2_interconnect2_candidate_subnets = ["169.254.0.184/29"]
      region2_interconnect2_vlan_tag8021q     = "3904"
      region2_interconnect2_md5_key           = "REPLACE_ME"
    },
    "nonproduction" = {
      region1_interconnect1_candidate_subnets = ["169.254.0.96/29"]
      region1_interconnect1_vlan_tag8021q     = "3911"
      region1_interconnect1_md5_key           = "REPLACE_ME"
      region1_interconnect2_candidate_subnets = ["169.254.0.104/29"]
      region1_interconnect2_vlan_tag8021q     = "3912"
      region1_interconnect2_md5_key           = "REPLACE_ME"
      region2_interconnect1_candidate_subnets = ["169.254.0.112/29"]
      region2_interconnect1_vlan_tag8021q     = "3913"
      region2_interconnect1_md5_key           = "REPLACE_ME"
      region2_interconnect2_candidate_subnets = ["169.254.0.120/29"]
      region2_interconnect2_vlan_tag8021q     = "3914"
      region2_interconnect2_md5_key           = "REPLACE_ME"
    },
    "production" = {
      region1_interconnect1_candidate_subnets = ["169.254.0.32/29"]
      region1_interconnect1_vlan_tag8021q     = "3921"
      region1_interconnect1_md5_key           = "REPLACE_ME"
      region1_interconnect2_candidate_subnets = ["169.254.0.40/29"]
      region1_interconnect2_vlan_tag8021q     = "3922"
      region1_interconnect2_md5_key           = "REPLACE_ME"
      region2_interconnect1_candidate_subnets = ["169.254.0.48/29"]
      region2_interconnect1_vlan_tag8021q     = "3923"
      region2_interconnect1_md5_key           = "REPLACE_ME"
      region2_interconnect2_candidate_subnets = ["169.254.0.56/29"]
      region2_interconnect2_vlan_tag8021q     = "3924"
      region2_interconnect2_md5_key           = "REPLACE_ME"
    },
  }
}


module "shared_vpc_cross_interconnect" {
  source = "../cross_dedicated_interconnect"

  vpc_name                = "${var.environment_code}-svpc"
  interconnect_project_id = local.shared_vpc_project_id
  ncc_hub_uri             = module.shared_vpc.ncc_hub_uri
  ncc_hub_group           = "default"

  region1 = var.default_region1
  region2 = var.default_region2

  cross_cloud_config = {
    peer_asn              = "64515"
    peer_name             = "interconnect-peer"
    remote_cloud_provider = "oci"

    attachments = {
      "region1_cross1" = {
        region            = var.default_region1
        router            = module.routers.region1_router1.router.name
        cross_dc          = "oci-dc-1"
        location          = "las-zone1-770"
        cr_suffix         = "cr5"
        interconnect      = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-1"
        candidate_subnets = local.restricted_config[var.env]["region1_interconnect1_candidate_subnets"]
        vlan_tag8021q     = local.restricted_config[var.env]["region1_interconnect1_vlan_tag8021q"]
        # md5_key           = local.restricted_config[var.env]["region1_interconnect1_md5_key"] // required for AWS
      },
      "region1_cross2" = {
        region            = var.default_region1
        router            = module.routers.region1_router2.router.name
        cross_dc          = "oci-dc-2"
        location          = "las-zone1-770"
        cr_suffix         = "cr6"
        interconnect      = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-2"
        candidate_subnets = local.restricted_config[var.env]["region1_interconnect2_candidate_subnets"]
        vlan_tag8021q     = local.restricted_config[var.env]["region1_interconnect2_vlan_tag8021q"]
        # md5_key           = local.restricted_config[var.env]["region1_interconnect2_md5_key"]  // required for AWS
      },
      "region2_cross1" = {
        region            = var.default_region2
        router            = module.routers.region2_router1.router.name
        cross_dc          = "oci-dc-3"
        location          = "lax-zone2-19"
        cr_suffix         = "cr7"
        interconnect      = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-3"
        candidate_subnets = local.restricted_config[var.env]["region2_interconnect1_candidate_subnets"]
        vlan_tag8021q     = local.restricted_config[var.env]["region2_interconnect1_vlan_tag8021q"]
        # md5_key           = local.restricted_config[var.env]["region2_interconnect1_md5_key"]  // required for AWS
      },
      "region2_cross2" = {
        region            = var.default_region2
        router            = module.routers.region2_router2.router.name
        cross_dc          = "oci-dc-4"
        location          = "lax-zone1-403"
        cr_suffix         = "cr8"
        interconnect      = "https://www.googleapis.com/compute/v1/projects/${local.interconnect_project_id}/global/interconnects/example-interconnect-4"
        candidate_subnets = local.restricted_config[var.env]["region2_interconnect2_candidate_subnets"]
        vlan_tag8021q     = local.restricted_config[var.env]["region2_interconnect2_vlan_tag8021q"]
        # md5_key           = local.restricted_config[var.env]["region2_interconnect2_md5_key"]  // required for AWS
      },
    }
  }

  depends_on = [
    module.shared_vpc,
    module.routers
  ]
}
