# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Goo

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Goo
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      run: goo build -v ./...

    - name: Test
      run: goo test -v ./...
